--
-- PostgreSQL database dump
--

\restrict Cgz7HcuLGYu7ckP32w4ItA38TfaxtRBuFtq1d1Ib409DER7yC8SRsP0CB25WODE

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: n8n_user
--

COPY public.organizations (id, org_name, subscription_tier, max_users, monthly_credit_limit, credits_used, billing_email, status, created_at, updated_at) FROM stdin;
1	Demo Company	professional	5	5000.00	0.00	\N	active	2026-04-01 10:15:17.897384	2026-04-01 10:15:17.897384
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: n8n_user
--

COPY public.users (id, email, apify_api_key, apify_status, apify_credit, created_at, org_id, role, is_active, monthly_credit_limit, credits_used) FROM stdin;
2	user2@test.com	\N	pending	5.00	2026-02-09 10:58:18.410772	\N	member	t	\N	0.00
4	user3@test.com	\N	pending	5.00	2026-02-09 15:33:28.733333	\N	member	t	\N	0.00
5	nokey@test.com	\N	pending	5.00	2026-02-14 06:33:56.65604	\N	member	t	\N	0.00
1	test@example.com	apify_api_oB8GrSTl9SNWmquMr3ceuZQjrztU3G3Os4Kx	active	5.00	2026-02-08 11:03:07.630912	1	owner	t	\N	0.00
\.


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: n8n_user
--

SELECT pg_catalog.setval('public.organizations_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: n8n_user
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Cgz7HcuLGYu7ckP32w4ItA38TfaxtRBuFtq1d1Ib409DER7yC8SRsP0CB25WODE

